.login-page {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;

  &__container {
    margin-top: 10rem;
    max-width: 60%;

    &__logo {
      margin-bottom: 3rem;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../../assets/images/background.jpg");
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(5px);
    z-index: -1;
  }
}
