<section class="login-page">
  <div class="login-page__container">
    <img
      class="login-page__container__logo"
      src="/assets/images/acme.png"
      alt="acme logo"
    />

    <div class="login-page__container__content">
      <h2>{{ "LOGIN_PAGE.TITLE" | translate }}</h2>
      <h4>{{ "LOGIN_PAGE.CONTENT" | translate }}</h4>

      <button class="button button--outlined">
        <span class="text">{{ "LOGIN_PAGE.LOG_IN" | translate }}</span>
      </button>
    </div>
  </div>
</section>
