*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

div.mat-mdc-form-field-focus-overlay {
  background-color: white;
}
div.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
}
