<section class="register-page">
  <mat-card class="register-page__card">
    <mat-card-title class="register-page__card__title">
      <h1>Welcome to Acme.</h1>
      <h6>Create your account by filling the form bellow.</h6>
    </mat-card-title>

    <form [formGroup]="form" class="register-page__form" (submit)="register()">
      <mat-form-field style="font-size: 1.6rem" color="primary">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput />
      </mat-form-field>
      <mat-form-field style="font-size: 1.6rem" color="primary">
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" matInput />
        <app-password-visibility-changer matSuffix />
      </mat-form-field>
      <app-checkbox formControlName="remember" label="Remember me." />
      <button class="button button--primary">
        <span class="text">Sign up</span>
      </button>
    </form>
  </mat-card>
</section>
