<section class="register-page">
  <div>
    <div class="card register-page__card">
      <div class="register-page__card__title">
        <h1>{{ "REGISTER_PAGE.WELCOME" | translate }}</h1>
        <h6>{{ "REGISTER_PAGE.TITLE" | translate }}</h6>
      </div>

      <form
        [formGroup]="form"
        class="register-page__form"
        (submit)="register()"
      >
        <div class="register-page__form__input-container">
          <app-input formControlName="email" label="REGISTER_PAGE.EMAIL" />
          <app-input formControlName="password" label="REGISTER_PAGE.PASSWORD">
            <div
              class="register-page__form__input-container__password-suffix"
              appSuffix
            >
              <app-password-visibility-changer />
              <app-password-strength-checker />
            </div>
          </app-input>
        </div>

        <app-checkbox
          formControlName="remember"
          label="REGISTER_PAGE.REMEMBER_ME"
        />
        <button class="button button--primary">
          <span class="text">{{ "REGISTER_PAGE.SIGN_UP" | translate }}</span>
        </button>
      </form>
    </div>
    <div class="register-page__copyright-container">
      <p class="copyright">@2015 Acme, Inc.</p>
      <p class="term">{{ "REGISTER_PAGE.TERMS" | translate }}</p>
      <p class="term">{{ "REGISTER_PAGE.PRIVACY" | translate }}</p>
      <div class="register-page__copyright-container__others">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</section>
