<section class="register-page">
  <div>
    <div class="card register-page__card">
      <div class="register-page__card__title">
        <h1>Welcome to Acme.</h1>
        <h6>Create your account by filling the form bellow.</h6>
      </div>

      <form
        [formGroup]="form"
        class="register-page__form"
        (submit)="register()"
      >
        <div class="register-page__form__input-container">
          <app-input formControlName="email" label="Email" />
          <app-input formControlName="password" label="Password">
            <div
              class="register-page__form__input-container__password-suffix"
              appSuffix
            >
              <app-password-visibility-changer />
              <app-password-strength-checker />
            </div>
          </app-input>
        </div>

        <app-checkbox formControlName="remember" label="Remember me." />
        <button class="button button--primary">
          <span class="text">Sign up</span>
        </button>
      </form>
    </div>
    <div class="register-page__copyright-container">
      <p class="copyright">@2015 Acme, Inc.</p>
      <p class="term">Terms</p>
      <p class="term">privacy</p>
      <div class="register-page__copyright-container__others">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</section>
