@use "src/scss/abstracts/colors" as colors;
@use "src/scss/abstracts/mixins" as mixins;

.circle-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  &__circle {
    border-radius: 100%;
    min-width: 0.5rem;
    min-height: 0.5rem;
    @include mixins.circle(0.5rem, colors.$light-gray);

    &--very-weak {
      @include mixins.circle(0.5rem, colors.$red);
    }

    &--weak {
      @include mixins.circle(0.5rem, colors.$yellow);
    }

    &--normal {
      @include mixins.circle(0.5rem, colors.$blue);
    }

    &--strength {
      @include mixins.circle(0.5rem, colors.$turquoise);
    }
  }
}
