<div class="circle-container">
  <div
    class="circle-container__circle"
    [ngClass]="{ 'circle-container__circle--strength': strength() >= 4 }"
  ></div>
  <div
    class="circle-container__circle"
    [ngClass]="{ 'circle-container__circle--normal': strength() >= 3 }"
  ></div>
  <div
    class="circle-container__circle"
    [ngClass]="{ 'circle-container__circle--weak': strength() >= 2 }"
  ></div>
  <div
    class="circle-container__circle"
    [ngClass]="{ 'circle-container__circle--very-weak': strength() >= 1 }"
  ></div>
</div>
