@use "@angular/material" as mat;
@use "../abstracts/colors" as color;
@use "../base/typography" as typography;
@include mat.core();

$custom-primary: map-merge(
  mat.$blue-palette,
  (
    500: color.$blue,
  )
);

$custom-warn: map-merge(
  mat.$blue-palette,
  (
    500: color.$yellow,
  )
);

$cy-frontend-primary: mat.define-palette($custom-primary);
$cy-frontend-accent: mat.define-palette($custom-warn);
$cy-frontend-warn: mat.define-palette($custom-warn);

$cy-frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $cy-frontend-primary,
      accent: $cy-frontend-accent,
      warn: $cy-frontend-warn,
    ),
  )
);
@include mat.all-component-themes($cy-frontend-theme);
